@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
label{
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}
input[type="checkbox"]{
  cursor:default;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 80%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor:text;
}
textarea {
  width: 80%;
  height: 120px;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor:text;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  width: 50%;
  background-color: #465469;
  color: white;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  margin-top: 40px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

button:hover {
  background-color: #3c4b51;
}

button:active {
  background-color: #333;
}

button::-moz-focus-inner {
  border: 0;
}

button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  pointer-events: none;
}

button:active::before {
  width: 120%;
  height: 120%;
}
.secondary-hero-text{
  font-size:28px;
  margin-top:20px;
  margin-bottom:20px;
  color:#8cabff;
}

.mail-link{
  text-decoration: none;
  padding-left: 10px;
  color:aqua;
  cursor: pointer;
}

@media (max-width: 768px) {
  
label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }

  .form-header {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  
.secondary-hero-text{
  font-size:20px;
  margin-top:20px;
  margin-bottom:20px;
  
  color:#8cabff;
  margin-left: 4px;
}

.priv-pol-cont{
  display: flex;
  flex-direction: row;
}

}

