.footer-widget {
  padding-top: 30px;
    display: flex;
    justify-content:space-around; 
    background-color: #F4F7FC;
  padding-bottom: 40px;
  }
  .icon-header{
    padding-left:10px;
  }
  .left-side{
    width: 30%;
    padding:20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .icon-text{
    color:#8f9296;
    padding-top:20px;
  }
  .new{
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
    color: rgb(0, 255, 0);
    font-weight: bold;
    background-color:#DDF9F2;
    border-radius: 3px;
    padding: 2px auto;
    height: fit-content;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  
  .footer-widget-column {
    width: 20%;
    text-align: left;
  }
  
  .footer-widget-column h3 {
    font-size: 14px;
    color:#D2D7DE;
    margin-bottom: 8px;
  }
  
  .footer-widget-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-widget-column li {
    font-size: 12px;
    margin-bottom: 8px;
  }
  

.icon-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-side{
  display: flex;
  flex-direction: column;
}

.icon-header{
  font-weight: 600;
  font-size: 24px;
}
.square {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(152, 151, 151, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius:10px;
  background-color:white;
}


.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3C4B51;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}


@media (max-width: 768px) {
  .footer-widget {
  padding-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self;
    gap:1px;
    background-color: #F4F7FC;
  padding-bottom: 5px;
  }

  .left-side{
    width: 80%;
  }
  .footer-widget-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
  }

  .footer-widget-column {
    grid-column: span 1;
  }
  
  }
